{% extends "base.html.twig" %}

{% block title %}[ADMIN] Get users quota{% endblock %}

{% block body %}
<table class="table table-bordered table-striped">
    <thead class="thead-light">
    <tr>
        <th colspan="3" class="text-center">Application</th>
        <th colspan="2" class="text-center">Quota</th>
        <th colspan="5" class="text-center">User</th>
    </tr>
    <tr>
        <th scope="col">id</th>
        <th scope="col">AppName</th>
        <th scope="col">Token</th>
        <th scope="col">Referer</th>
        <th scope="col">id</th>
        <th scope="col">Increment</th>
        <th scope="col">id</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
    </tr>
    </thead>
    <tbody>
    {% for array in usersQuota %}
        <tr>
            <th scope="row">{{ array.application.id }}</th>
            <td>{{ array.application.name }}</td>
            <td>{{ array.application.token }}</td>
            <td>{{ array.application.referer }}</td>
            <td>{{ array.quota.id }}</td>
            <td>{{ array.quota.increment }}</td>
            <td>{{ array.user.id }}</td>
            <td>{{ array.user.email }}</td>
            <td>
                {% for role in array.user.roles %}
                    {{ role }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
