<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}[ADMIN] Get users quota{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<table class="table table-bordered table-striped">
    <thead class="thead-light">
    <tr>
        <th colspan="3" class="text-center">Application</th>
        <th colspan="2" class="text-center">Quota</th>
        <th colspan="5" class="text-center">User</th>
    </tr>
    <tr>
        <th scope="col">id</th>
        <th scope="col">AppName</th>
        <th scope="col">token</th>
        <th scope="col">id</th>
        <th scope="col">Increment</th>
        <th scope="col">id</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
    </tr>
    </thead>
    <tbody>
    {% for array in usersQuota %}
        <tr>
            <th scope="row">{{ array.application.id }}</th>
            <td>{{ array.application.name }}</td>
            <td>{{ array.application.token }}</td>
            <td>{{ array.quota.id }}</td>
            <td>{{ array.quota.increment }}</td>
            <td>{{ array.user.id }}</td>
            <td>{{ array.user.email }}</td>
            <td>
                {% for role in array.user.roles %}
                    {{ role }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>
</body>
</html>